<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Thank you!</title>
</head>
<body>
    <div class="container">
        <img src="../static/FN_Logo.jpg" alt="FingerNotes logo" class="logo">
        <h1 style="color: green;">Thank You!</h1>
        <h2>Glad you rated your experience. We hope to see you soon! Meanwhile check out our <a href="/" style="color: #daa520;">homepage</a> for more info and updates</h2>
        <cite style="color: #3d3d9f; font-weight: bold;">- FingerNotes</cite>
    </div>
</body>
</html>